<mat-toolbar>
  <span>
    <a routerLink="/">AuxMed</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li>
      <a mat-button routerLink="/create" routerLinkActive="mat-accent">Novo Arquivo</a>
    </li>
    <!-- <li>
      <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
    </li> -->
    <!-- <li>
      <a mat-button routerLink="/signup" routerLinkActive="mat-accent">Signup</a>
    </li> -->
    <li>
      <a mat-button routerLink="/list" routerLinkActive="mat-accent">Lista</a>
    </li>
    <li>
      <a mat-button routerLink="/blood" routerLinkActive="mat-accent">Doacao</a>
    </li>
  </ul>


</mat-toolbar>



